
<xe-form #register name="register">
  <xe-input name="fullName" minLength="3" maxLength="30"></xe-input>
  <xe-input type="email"></xe-input>
  <xe-input type="password" name="password" #password></xe-input>
  <xe-input lblKey="RE_PASSWORD" type="password" [matching]="password"></xe-input>
  <xe-btn [btnText]="xeLabel.REGISTER" [disabled]="register.isLoading" center></xe-btn>
</xe-form>

<div *ngIf="successMessage">
  <p>{{successMessage}}</p>
  <xe-btn [btnText]="xeLabel.CLICK_TO_LOGIN" (click)="gotoLogin()" center></xe-btn>
</div>

