<xe-table [tableData]="userTable">
  <div class="mt-3" tableFooter>
    <role-info [roleInfos]="roleIcons"></role-info>
  </div>

  <div bsForm_BelowHeaderTitle>
    <div class="text-right pr-3">
      <div (click)="toggleRole(role)" *ngFor="let role of roleIcons" [hidden]="!role.icon"
           [nbTooltip]="role.icon.hint" class="role-item {{getRoleActiveClass(role.name)}}">
        <nb-icon *ngIf="role.icon" [icon]="role.icon?.icon" [status]="role.icon?.status" pack="fa"></nb-icon>
      </div>
    </div>
  </div>

  <ng-container tableHeader>
    <ng-content select="[tableHeader]"></ng-content>
  </ng-container>

  <ng-container top-right-buttons>
    <ng-content select="[top-right-buttons]"></ng-content>
  </ng-container>
</xe-table>
