.users-group {
  text-align: right;
  font-size: small;
}
.users-group div {
  padding: 5px 7px;
  border: 1px solid gray;
  border-radius: 12px;
  margin: 0 2px;
  display: inline;
}

.users-group nb-icon {
  margin-right: 7px;
}

.role-item {
  display: inline-block;
  border: 1px solid gray;
  padding: 6px 7px;
  border-radius: 9px;
  margin: 0px 2px;
  cursor: pointer;
}
.role-item:hover {
  border-color: black;
  background: yellow;
}
.role-item.active {
  background: #f7f9fc;
  border-color: green;
  border-width: 2px;
}

.role-item.inactive nb-icon {
  color: gray;
}


