<div *ngIf="screen && screen.config.homeIcon" class="navigator">
  <div class="d-inline-block">
    <xe-btn (click)="screen.goHome()" [icon]="screen.config.homeIcon" hideText></xe-btn>
    <lbl class="text-primary" prepend="/ ">{{screen.title}}</lbl>
  </div>
  <ng-container *ngIf="!screen.isHome">
    <div *ngFor="let item of screen?.stack?.all; index as i; last as isLast" class="d-inline-block pl-1">
      <lbl (click)="!isLast ? screen.go(item) : ''"
           [type]="isLast ? 'text' : 'link'"
           key="screen.{{item}}"
           prepend=" / ">
      </lbl>
    </div>
  </ng-container>
</div>
