.options-group {
  text-align: right;
  font-size: small;
}

.options-group div {
  padding: 5px 7px;
  border: 1px solid gray;
  color: gray;
  border-radius: 12px;
  margin: 0 2px;
  display: inline;
}

.options-group nb-icon {
  margin-right: 7px;
}
