<ng-template #inputLabel>
  <div *ngIf="isShowLabel" class="text-info pb-1 {{isGrid ? 'col-sm-3 col-form-label' : ''}}">{{label}}
  </div>
  <xe-btn (click)="search()" *ngIf="template?.hasTypeSearchTable && mode.hasInput"
          hideText state="none" template="selectFromList"></xe-btn>
</ng-template>

<ng-container *ngIf="mode.hasInput">
  <div class="row input-container">
    <ng-container [ngTemplateOutlet]="inputLabel"></ng-container>
    <div class="w-100 mb-2">
      <ng-container *ngIf="!template.hasDisplayCustom">
        <div
          class="w-100 nb-form-field-addon nb-form-field-prefix-medium nb-form-field-addon-basic nb-form-field-size-medium nb-transition">
          <div class="nb-form-field-addon nb-form-field-prefix-medium nb-form-field-addon-basic ng-star-inserted">
            <nb-icon [icon]="getIcon()" nbPrefix pack="fa"></nb-icon>
          </div>
          <div class="w-100 nb-form-control-container nb-form-field-control-with-prefix">
            <ng-container [ngTemplateOutlet]="inputContent"></ng-container>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="template.hasDisplayCustom">
        <ng-container [ngTemplateOutlet]="inputContent"></ng-container>
      </ng-container>

      <span *ngIf="isShowError" class="text-danger badge text-right d-block"
            style="width: 100%">{{errorMessage}}</span>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!mode.hasInput">
  <ng-container *ngIf="mode.hasShowTitle">
    <ng-container [ngTemplateOutlet]="inputLabel"></ng-container>
  </ng-container>

  <ng-container *ngIf="template.hasDisplayCustom">
    <ng-container [ngTemplateOutlet]="inputContent"></ng-container>
  </ng-container>

  <ng-container *ngIf="!template.hasDisplayCustom">
    <div [innerHTML]="asHtml"></div>
  </ng-container>
</ng-container>
<!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
<!-- START OF INPUT_CONTENT >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
<!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
<ng-template #inputContent>

  <ng-container *ngIf="template.hasTypeSearchTable || template.hasTypeHtml">
    <div [innerHTML]="asHtml"></div>
  </ng-container>


  <div *ngIf="template.hasTypeMultiOption" class="options-group pt-2 d-inline-block">
    <div (click)="toggleOption(option); isValidateSuccess()" *ngFor="let option of template?.options?.ALL"
         class="option-item {{!mode.hasInput ? '' : 'cursor-pointer selectable'}} {{hasOption(option) ? 'active' : ''}}">
      <lbl [key]="'shortBtnSelect.' + template.options?.NAME + '.' + option"></lbl>
    </div>
  </div>


  <div *ngIf="template.hasTypeBooleanToggle" class="options-group pt-2 d-inline-block">
    <div (click)="toggleBoolean()"
         class="option-item {{!mode.hasInput ? '' : 'cursor-pointer selectable'}} {{value ? 'active' : ''}}">
      {{xeLbl('booleanToggle.' + value)}}
    </div>
  </div>

  <ng-container *ngIf="template.hasTypeShortInput">
    <input
      #htmlShortInput
      (blur)="onShortInputBlur($event)"
      (change)="isValidateSuccess()"
      (focusin)="onShortInputFocus($event)"
      (ngModelChange)="inputToApp($event)"
      [disabled]="isDisabled"
      [id]="getId()"
      [name]="getName()"
      [ngModel]="_value"
      [placeholder]="placeHolder"
      [type]="type"
      autocomplete="off" class="{{isDisabled ? 'disabled': ''}}"
      fullWidth
      nbInput>
  </ng-container>

  <ng-container *ngIf="template.hasTypeDate">
    <input (click)="picker.open()" (dateChange)="onDateChange($event); isValidateSuccess()" [matDatepicker]="picker"
           [readOnly]="true"
           [value]="value"
           fullWidth nbInput>
    <mat-datepicker #picker></mat-datepicker>
  </ng-container>

  <ng-container *ngIf="template.hasAutoInput">
    <input
      (click)="onClickAutoInput()"
      (input)="onAutoInputChange($event)"
      [name]="getName()"
      [nbAutocomplete]="auto"
      [placeholder]="placeHolder"
      [readonly]="mode.hasReadonly"
      [value]="asInlineString"
      autocomplete="off"
      class="{{isDisabled ? 'disabled': ''}}" fullWidth
      nbInput
      type="text">
    <nb-autocomplete #auto (selectedChange)="onAutoInputSelected($event);  isValidateSuccess()">
      <nb-option
        *ngFor="let option of autoInputOptions$ | async | locationPipe:{instance: template.pipe, autoInputModel: true}"
        [value]="option['appValue']">
        {{option['inlineString']}}
      </nb-option>
    </nb-autocomplete>
  </ng-container>

  <ng-container *ngIf="template.hasTypeSelectOneMenu">
    <div (click)="clickSwapItem()"
         *ngIf="template.hasSwapOn && !isViewingBoard"
         [innerHtml]="asHtml" class="select-swap">
    </div>

    <ng-container *ngIf="template.hasBoardMenu && isViewingBoard">
      <div (click)="selectItem(item.value)"
           *ngFor="let item of selectOneMenu$ | async"
           [innerHtml]="optionAsHtml(item.value)">
      </div>

    </ng-container>

    <nb-select *ngIf="template.hasSwapOff"
               [(ngModel)]="value"
               [placeholder]="placeHolder"
               class="selectOneMenu w-100"
               fullWidth>
      <nb-option *ngFor="let item of selectOneMenu$ | async" [value]="item.value">
        <lbl [key]="item.label"></lbl>
      </nb-option>
    </nb-select>
  </ng-container>
</ng-template>



