<div class="row">
  <span class="text-info {{isGrid ? 'col-sm-3 col-form-label' : ''}} {{labelHiddenClass()}}">{{label}}</span>
  <div class="{{isGrid ? 'col-sm-9' : 'w-100'}}">
    <nb-form-field class="w-100">
      <nb-icon nbPrefix [icon]="getIcon()" pack="fa"></nb-icon>
      <input
        class="{{disabled ? 'disabled': ''}}"
        [(ngModel)]="value"
        [disabled]="disabled"
        [type]="type"
        (change)="isValidateSuccess()"
        [id]="getId()"
        nbInput fullWidth
        [name]="getName()"
        [placeholder]="isGrid?placeHolder:label"
      >
    </nb-form-field>
    <span *ngIf="isShowError" class="text-danger badge text-right d-block"
          style="width: 100%">{{errorMessage}}</span>
    <br/>
  </div>
</div>
