<ng-template id="templateBasicForm" #basicForm let-dialog="basicFormDialog">
  <ng-content select="[aboveBasicForm]"></ng-content>
  <xe-basic-form [dialog]="dialog"
                 [formData]="tableData?.formData"
                 [postPersist]="postPersist"
                 [postRemove]="postRemove">
    <ng-container *ngIf="screen.is(screens.basicForm)" headerTopMost>
    </ng-container>
    <ng-container belowHeaderTitle>
      <ng-content select="[bsForm_BelowHeaderTitle]"></ng-content>
    </ng-container>
    <ng-container bottomLeftButtons>
      <ng-content select="[bsForm_BottomLeftButtons]"></ng-content>
    </ng-container>
  </xe-basic-form>
  <ng-content select="[belowBasicForm]"></ng-content>
</ng-template>

<!-- ########### END OF BASIC FORM ##############-->
<ng-template id="dialogRef" #basicFormDialogWrapper let-basicFormDialog="dialogRef">
  <div class="basic-form-dialog">
    <ng-container *ngTemplateOutlet="basicForm; context: {basicFormDialog: basicFormDialog}"></ng-container>
  </div>
</ng-template>
<!-- ########### END OF FORM DIALOG WRAPPER ##############-->

<ng-template id="deleteDialogWrapper" #deleteDialogWrapper let-deleteDialog="dialogRef">
  <div class="basic-form-dialog text-center">
    <nb-card>
      <nb-card-header>
        <lbl key="ALERT_DELETE_DATA_NO_RESTORE"></lbl>
        :
      </nb-card-header>
      <nb-card-body>
        <h3><span class="text-danger">{{selection.selected.length}}
          <lbl key="RECORD_LOWER"></lbl></span>
          <lbl class="pl-2" key="IS_SELECTED">!</lbl>
        </h3>
        <p>
          <lbl key="WILL_BE_DELETED_ABSOLUTELY_ARE_YOU_SURE"></lbl>
        </p>
      </nb-card-body>
      <nb-card-footer class="text-center">
        <xe-btn (click)="deleteDialog.close()" template="back"></xe-btn>
        <xe-btn (click)="deleteDialog.close(); deleteSelected()" template="ok"></xe-btn>
      </nb-card-footer>
    </nb-card>
  </div>
</ng-template>
<!-- ########### END OF DELETE DIALOG ##############-->
<ng-container id="containerBasicForm" *ngIf="screen.is(screens.basicForm)">
  <ng-template [ngTemplateOutlet]="basicForm">
  </ng-template>
</ng-container>

<nb-card id="tableContent" *ngIf="screen.is(screens.table)">
  <nb-card-body>
    <xe-nav [screen]="tableData?.xeScreen"></xe-nav>
    <ng-content select="[tableHeader]"></ng-content>
    <mat-form-field *ngIf="!tableData?.table?.mode?.hideSearchBox" appearance="legacy">
      <mat-label>{{xeLabel.tabToFind}}</mat-label>
      <input #input (keyup)="applyFilter($event)" matInput placeholder="{{xeLabel.typeTextHere}}...">
    </mat-form-field>

    <!-- FLOAT RIGHT BUTTONS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
    <div id="float-right-buttons" class="float-right">
      <ng-container id="back-button" *ngIf="tableData?.xeScreen && !tableData?.xeScreen?.isHome">
        <xe-btn (click)="tableData?.xeScreen?.back()" hideText template="back"></xe-btn>
      </ng-container>
      <ng-content id="top-right-buttons-content" select="[top-right-buttons]"></ng-content>
      <ng-container id="edit-on-row" *ngIf="editOnRow.hasEnabled">
        <xe-btn id="edit-on-row-btn"
                *ngIf="editOnRow.hasEditingNo"
                (click)="editOnRow.toEditingYes()"
                template="edit">
        </xe-btn>

        <xe-btn id="save-rows-btn"
                *ngIf="editOnRow.hasEditingYes"
                (click)="updateOnRow()"
                template="save">
        </xe-btn>
      </ng-container>

      <xe-btn (click)="tableData?.xeScreen?.go(tableData?.external.lookUpScreen)"
              *ngIf="tableData?.external?.lookUpScreen"
              hideText template="selectFromList"></xe-btn>
      <xe-btn (click)="addSelectedToParent()"
              *ngIf="tableData?.external?.parent"
              [btnText]="xeLabel.SELECT"
              [disabled]="tableData?.formData?.share?.selection?.isEmpty()"
              icon="plus">
      </xe-btn>

      <span *ngIf="!tableData?.table?.mode?.readonly">
        <xe-btn
          (click)="tableData?.table?.action?.onClickBtnCreate ? tableData?.table.action.onClickBtnCreate() : newEntityDialog()"
          hideText
          template="add"></xe-btn>
        <xe-btn (click)="openDeleteDialog()" [disabled]="!hasRowSelected" hideText template="dangerDelete"></xe-btn>
      </span>
    </div>
    <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  FLOAT RIGHT BUTTONS -->

    <!-- ########### END OF TABLE HEADER ##############-->

    <table [dataSource]="tableSource" mat-table matSort class="xe-table">

      <!-- BASIC COLUMNS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
      <ng-container *ngFor="let tableColumn of tableData?.table.basicColumns" [matColumnDef]="tableColumn?.field?.name">
        <th *matHeaderCellDef class="{{tableColumn.hiddenClass}}" mat-header-cell mat-sort-header>
          <div class="{{tableColumn.display?.header?.inline ? '' : 'd-grid'}} ">
            <lbl *ngIf="!tableColumn.display?.header?.silence" [icon]="tableColumn.display?.header?.icon"
                 [key]="'column.' + tableColumn.field.name" [txt]="tableColumn.display?.header?.title"></lbl>
            <ng-container *ngFor="let subColumn of tableColumn.subColumns || []">
              <lbl *ngIf="!subColumn?.display?.header?.silence" [icon]="subColumn?.display?.header?.icon"
                   [key]="'column.' + subColumn?.field?.name"></lbl>
            </ng-container>
          </div>
        </th>
        <td *matCellDef="let entity; let columnIndex = index;" mat-cell>
          <div (click)="onSelectColumn(entity, tableColumn);">
            <ng-container
              *ngTemplateOutlet="getColumn(tableColumn); context:{tableColumn: tableColumn, entity:entity, columnIndex: columnIndex}"></ng-container>
          </div>

          <ng-container *ngFor="let subColumn of tableColumn.subColumns">
            <div [class]="subColumn.display?.row?.inline ? 'd-inline' : ''"  (click)="onSelectColumn(entity, subColumn);">
              <ng-container
                *ngTemplateOutlet="getColumn(subColumn); context:{tableColumn: subColumn, entity:entity, columnIndex: columnIndex}"></ng-container>
            </div>
          </ng-container>
        </td>
      </ng-container>
      <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<   BASIC COLUMNS -->

      <!-- MANUAL COLUMNS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
      <ng-container *ngIf="tableData?.table.manualColumns">
        <ng-container *ngFor="let manualColumn of tableData?.table.manualColumns"
                      [matColumnDef]="manualColumn.field.name">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            <lbl [key]="manualColumn.field.name"></lbl>
          </th>
          <td *matCellDef="let entity" mat-cell>
            <ng-container
              *ngTemplateOutlet="manualColumn.template(); context:{manualColumn: manualColumn, entity: entity}"></ng-container>
          </td>
        </ng-container>
      </ng-container>
      <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<   MANUAL COLUMNS -->

      <!-- SELECT COLUMN >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
      <ng-container *ngIf="!tableData?.table.mode?.hideSelectColumn">
        <ng-container matColumnDef="select">
          <th *matHeaderCellDef mat-header-cell>
            <nb-checkbox (change)="$event ? toggleSelectAll() : null" *ngIf="tableSource?.data?.length > 0"
                         [checked]="selection.hasValue() && isAllSelected()"
                         [indeterminate]="selection.hasValue() && !isAllSelected()">
            </nb-checkbox>
          </th>
          <td *matCellDef="let entity" mat-cell>
            <nb-checkbox (change)="$event ? selection.toggle(entity) : null"
                         (click)="$event.stopPropagation()"
                         [checked]="selection.isSelected(entity)">
            </nb-checkbox>
          </td>
        </ng-container>
      </ng-container>
      <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<   END SELECT COLUMNS -->

      <!-- Row shown when there is no matching data. -->
      <tr *matNoDataRow class="mat-row">
        <td class="mat-cell" colspan="4">
          <lbl key="NOT_FOUND_DATA"></lbl>
        </td>
      </tr>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row [class.viewing]="viewing.isSelected(row)" [class.active]="selection.isSelected(row)"></tr>
    </table>
    <div class="d-block">
      <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]"
                     showFirstLastButtons>
      </mat-paginator>
    </div>

    <div class="d-block">
      <ng-content select="[tableFooter]"></ng-content>
    </div>


  </nb-card-body>
</nb-card>

<ng-template id="columnInputTemplate" #inputTemplate let-columnIndex="columnIndex" let-entity="entity" let-tableColumn="tableColumn">

  <ng-container id="columnOrder" *ngIf="asCol(tableColumn).field.template.isTableOrder">
    {{getRowIndexBase1(columnIndex)}}
    <xe-btn (click)="bringUp(entity, asCol(tableColumn).field, columnIndex)" *ngIf="!isFirstRow(columnIndex)"
            icon="caret-up"
            template="blank"></xe-btn>
    <xe-btn (click)="bringDown(entity, asCol(tableColumn).field, columnIndex)" *ngIf="!isLastRow(columnIndex)"
            icon="caret-down"
            template="blank"></xe-btn>
  </ng-container>

  <ng-container id="columnInput" *ngIf="!asCol(tableColumn).field.template.isTableOrder">
    <xe-input [(value)]="getLastEntity(entity, tableColumn)[getLastFieldName()]"
              [class]="asCol(tableColumn).display?.row?.css || ''"
              [mode]="editOnRow.hasEditingYes ? asCol(tableColumn).field.mode || xeInputMode.html: xeInputMode.html"
              [template]="asCol(tableColumn).field.template"
    >
    </xe-input>
  </ng-container>

</ng-template>

<ng-template id="columnString" #string let-entity="entity" let-tableColumn="tableColumn">
  <span
    class="{{asCol(tableColumn).display?.row?.css}}"> {{entityUtil.valueAsInlineString(entity, entityMeta, asCol(tableColumn).field)}}</span>
</ng-template>

<ng-template id="columnAvatarString" #avatarString let-entity="entity" let-tableColumn="tableColumn">
  <img [alt]="getInlineValue(entity, tableColumn)"
       [src]="entityUtil.getProfileImageUrl(entity, entityMeta, asCol(tableColumn).field)"
       class="thumbnail-small">
  {{getInlineValue(entity, tableColumn)}}
</ng-template>

<ng-template id="columnIconOption" #iconOption let-entity="entity" let-tableColumn="tableColumn">
  <icon-wrap [wrapper]="{
    icon: asCol(tableColumn).display?.row?.icon,
    clazz: asCol(tableColumn).display?.row?.css,
    content: getInlineValue(entity, tableColumn)
  }"></icon-wrap>
</ng-template>

<ng-template id="columnBoldString" #boldString let-entity="entity" let-tableColumn="tableColumn">
  <b>{{getInlineValue(entity, tableColumn)}}</b>
</ng-template>

<ng-template id="columnAvatar" #avatar let-entity="entity" let-tableColumn="tableColumn">
  <img [alt]="getInlineValue(entity, tableColumn)"
       [src]="getInlineValue(entity, tableColumn)"
       class="thumbnail-small">
</ng-template>

<ng-template id="columnBoldStringRole" #boldStringRole let-entity="entity" let-tableColumn="tableColumn">
  <b class="pr-1">{{getInlineValue(entity, tableColumn)}}</b>
  <nb-icon *ngFor="let icon of getRoleIcons(entityUtil.getLastFieldOwner(entity, tableData?.formData.entityIdentifier.clazz.meta, asCol(tableColumn).field)['role'])"
           class="role-icon"
           icon="{{icon.icon}}"
           pack="fa" status="{{icon.status}}"
           [nbTooltip]="icon.hint"></nb-icon>
</ng-template>
