<nb-layout center>
  <nb-layout-column class="xe-center-panel">
    <nb-card class="xe-center-inner">
      <nb-card-header class="text-center">TimXeKhach.Net</nb-card-header>
      <nb-card-body>
        <router-outlet></router-outlet>
        <hr/>
        <div class="d-flex justify-content-between">
          <a routerLink="../auth/login" routerLinkActive="d-none">Đăng nhập</a>
          <a routerLink="../auth/forgot-password" routerLinkActive="d-none">Quên mật khẩu?</a>
          <a routerLink="../auth/register" routerLinkActive="d-none">Đăng ký</a>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>



