<nb-card *ngIf="!screen.is(screens.orderSuccessfully)">
  <nb-card-header>
    <div class="float-left">
      <h3>
        <xe-btn (click)="parentScreen.back()" hideText template="back"></xe-btn>
        <lbl [txt]="bussType?.bussTypeName"></lbl>
      </h3>
    </div>
    <div *ngIf="mode.hasEdit && screen.is(screens.schemeView)" class="float-right">
      <xe-btn (click)="openNewSeatRange()" template="add"></xe-btn>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ng-container *ngTemplateOutlet="SchemeViewWithControls"></ng-container>
    <ng-container *ngTemplateOutlet="SchemeFormEditTemplate"></ng-container>
  </nb-card-body>
</nb-card>

<ng-template #SchemeViewWithControls id="SchemeViewWithControls">
  <ng-container *ngIf="screen.is(screens.schemeView)">
    <ng-container *ngTemplateOutlet="SchemeViewWithoutSeatStatus"></ng-container>

    <ng-container *ngIf="mode.hasDynamicStatus">
      <ng-container *ngTemplateOutlet="SchemeViewAdminControls"></ng-container>
      <ng-container *ngTemplateOutlet="SchemeViewOrderControls"></ng-container>
    </ng-container>
  </ng-container>
</ng-template>


<ng-template #SchemeViewWithoutSeatStatus id="SchemeViewWithoutSeatStatus">
  <ng-container *ngIf="mode.hasBussAdmin || mode.hasEdit">
    <ng-container *ngTemplateOutlet="BasicSchemeViewTemplate"></ng-container>
  </ng-container>
</ng-template>

<ng-template #SchemeViewOrderControls id="SchemeViewOrderControls">
  <ng-container *ngIf="mode.hasOrdering">
    <div class="row">
      <div class="col-md-6">
        <ng-container *ngTemplateOutlet="TripOrderControlTemplate"></ng-container>
      </div>
      <div class="col-md-6">
        <ng-container *ngTemplateOutlet="BasicSchemeViewTemplate"></ng-container>
      </div>
    </div>
  </ng-container>
</ng-template>

<ng-template #SchemeViewAdminControls id="SchemeViewAdminControls">
  <ng-container *ngIf="mode.hasTripAdmin">
    <ng-container *ngTemplateOutlet="TripAdminHeader"></ng-container>
    <div class="row">
      <div class="col-md-6">
        <ng-container *ngTemplateOutlet="TripAdminControlTemplate"></ng-container>
      </div>
      <div class="col-md-6">
        <ng-container *ngTemplateOutlet="BasicSchemeViewTemplate"></ng-container>
      </div>
    </div>
  </ng-container>
</ng-template>

<ng-template #TripAdminHeader id="TripAdminHeader">
  <ng-container *ngIf="mode.hasTripAdmin">
    <div class="row">
      <div class="col-md-6">
        <ng-container *ngIf="!selectedTripUser?.tripUserId">
          <ng-container *ngTemplateOutlet="TripUserPointTemplate"></ng-container>
        </ng-container>
        <ng-container *ngIf="selectedTripUser?.tripUserId">
          <ng-container *ngTemplateOutlet="TripScheduledPointTemplate"></ng-container>
        </ng-container>
      </div>
      <div class="col-md-6">
        <ng-container *ngTemplateOutlet="seatStatusHintTemplate"></ng-container>
      </div>
    </div>
  </ng-container>
</ng-template>

<ng-template #seatStatusHintTemplate id="seatStatusHintTemplate">
  <h6 [innerText]="xeLabel.SEAT_STATUS_HINT" class="text-secondary"></h6>
  <div [innerText]="xeLabel.seat_available" class="p-1 border d-inline-block seat-available"></div>
  <div [innerText]="xeLabel.seat_confirmed" class="p-1 border d-inline-block seat-confirmed"></div>
  <div [innerText]="xeLabel.seat_selected" class="p-1 border d-inline-block seat-selected"></div>
  <div [innerText]="xeLabel.seat_booked" class="p-1 border d-inline-block seat-booked"></div>
  <ng-container *ngIf="!mode.hasTripAdmin">
    <div [innerText]="xeLabel.seat_locked" class="p-1 border d-inline-block seat-locked"></div>
  </ng-container>
  <ng-container *ngIf="mode.hasTripAdmin">
    <div [innerText]="xeLabel.seat_locked_by_buss" class="p-1 border d-inline-block seat-locked-by-buss"></div>
    <div [innerText]="xeLabel.seat_locked_by_trip" class="p-1 border d-inline-block seat-locked-by-trip"></div>
  </ng-container>
</ng-template>

<!-- ##############################  [SCHEME VIEW] ###################################### -->

<ng-template #BasicSchemeViewTemplate>
  <div>
    <div *ngFor="let seatGroup of bussType.seatGroups; first as isFirstGroup; last as isLastGroup; index as groupIdx">
      <div class="pt-3">
        <h6>
          <lbl [key]="seatGroup.seatGroupName"></lbl>
          <lbl [key]="seatGroup.seatGroupDesc" class="text-secondary badge"></lbl>
          <xe-btn (click)="openEditSeatGroup(seatGroup)" *ngIf="mode.hasEdit" hideText icon="pen"
                  template="blank"></xe-btn>
        </h6>
      </div>
      <div>
        <ng-container *ngIf="mode.hasEdit">
          <xe-btn (click)="bringUp(seatGroup, groupIdx)" *ngIf="!isFirstGroup" icon="caret-up"
                  template="blank"></xe-btn>
          <xe-btn (click)="bringDown(seatGroup, groupIdx)" *ngIf="!isLastGroup" icon="caret-down"
                  template="blank"></xe-btn>
        </ng-container>
        <ng-container *ngFor="let seatNo of seatGroup.seats">
            <ng-container *ngTemplateOutlet="SeatSchemeTemplate; context: {seatNo: seatNo}"></ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>

<!--  [SCHEME EDIT] ###################################### -->
<ng-template #SchemeFormEditTemplate>
  <xe-basic-form *ngIf="screen.is(screens.schemeEdit)"
                 [formData]="seatGroupTable.formData" [readMode]="false">
    <ng-container leftAboveMessageLabel>
      <lbl key="seat_from">: {{getCurrentSeatFrom()}}</lbl>
      <lbl key="seat_to">: {{getCurrentSeatTo()}}</lbl>
    </ng-container>
  </xe-basic-form>
</ng-template>


<!-- [DYNAMIC SEAT STATUSES] ###################################### -->
<ng-template #SeatSchemeTemplate let-seatNo="seatNo">
  <div (click)="toggleSeat(seatNo)"
       class="seat alert {{seatStatus(seatNo).classes}}">
    {{seatNo}}
  </div>
</ng-template>
<!-- ##############################  [SeatSchemeTemplate] ###################################### -->

<ng-template #TripOrderControlTemplate>
  <ng-container *ngIf="mode.hasOrdering">
    <div class="row">
      <div class="col-md-6">
        <ng-container *ngTemplateOutlet="bussInfoTemplate"></ng-container>
      </div>
      <div class="col-md-6">
        <ng-container *ngTemplateOutlet="TripUserPointTemplate"></ng-container>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <xe-basic-form [formData]="tripUserTable.formData"></xe-basic-form>
      </div>
      <div class="col-md-6">
        <ng-container *ngTemplateOutlet="seatInfoTemplate; context: {tripUser: preparedTripUser}"></ng-container>
      </div>
    </div>
    <div *ngIf="errorMessage" class="text-right text-danger text-large">
      <div [innerHTML]="errorMessage"></div>
    </div>
    <hr>
    <div class="cart-order-bottom-control">
      <div class="float-left">
        <xe-btn (click)="parentScreen.back()" template="back"></xe-btn>
      </div>
      <div class="float-right">
        <xe-btn (click)="clearOrderInfo()" [disabled]="preparedTripUser.totalPrice <= 0" template="eraser"></xe-btn>
        <xe-btn (click)="order()" template="orderTrip"></xe-btn>
      </div>
    </div>
  </ng-container>
</ng-template>

<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< [TripOrderControlTemplate]  -->

<ng-template #launchDateTimeTemplate id="launchDateTimeTemplate">
  <lbl [icon]="{iconPre: 'calendar'}" [txt]="xeLabel.LAUNCH_DATE" class="d-block p-2">
    : {{trip.launchDate | xeDatePipe}}</lbl>
  <icon-wrap clazz="pb-1" iconAfter="clock">{{xeLabel.launchTime}} {{trip.launchTime | xeTimePipe}}</icon-wrap>
</ng-template>

<ng-template #bussInfoTemplate id="bussInfoTemplate">
  <lbl [icon]="{iconPre: 'building'}" [txt]="xeLabel.companyName" class="d-block p-2">
    : {{bussSchedule.buss.company.companyName}} - {{bussSchedule.buss.company.companyDesc}} </lbl>
  <lbl [icon]="{iconPre: 'pencil-ruler'}" [txt]="xeLabel.BUSS_TYPE" class="d-block p-2">
    : {{bussSchedule.buss.bussType?.bussTypeName}}</lbl>
  <lbl [icon]="{iconPre: 'bus'}" [txt]="xeLabel.bussLicense" class="d-block p-2">
    : {{bussSchedule.buss.bussLicense}}</lbl>
</ng-template>
<!-- ##############################  [bussInfoTemplate] ###################################### -->

<ng-template #seatInfoTemplate let-tripUser="tripUser">
  <h5 [innerHTML]="xeLabel.cart_seat_info"></h5>
  <div class="cart-seat-info">
    <div>
      <lbl [icon]="{iconPre: 'money-check'}" class="d-inline-block">
        {{xeLabel.SEAT_UNIT_PRICE}} :
        <div [innerHTML]="tripUser.unitPrice | moneyPipe" class="d-inline-block"></div>
      </lbl>
      <icon-wrap clazz="pb-1" iconAfter="couch"> {{tripUser.seats?.length || 0}}</icon-wrap>
      <div [innerText]="xeLabel.SELECTED_SEATS" class="mb-2"></div>
      <div [innerHTML]="tripUser.seatsString | seatPipe"></div>
    </div>
    <div *ngIf="tripUser.totalPrice <= 0" class="text-right">
      {{xeLabel.PLEASE_SELECT_SEATS}}
      <nb-icon icon="hand-point-right" pack="fa"></nb-icon>
    </div>
    <div class="text-center">{{xeLabel.totalPayment}}:
      <h4
        [innerHTML]="tripUser.totalPrice | moneyPipe : {html: true} : 'zero'"
        class="d-inline-block text-danger text-right pt-2"></h4>
    </div>
  </div>
</ng-template>
<!-- ##############################  [seatInfoTemplate] ###################################### -->

<ng-template #TripUserPointTemplate>
  <div *ngIf="preparedTripUser" class="row">
    <div class="col-md-6">
      <h6 [textContent]="xeLabel.POINT_FROM"></h6>
      <div>
        <div [innerHTML]="preparedTripUser?.startPoint | pathPointPipe"></div>
        <div [innerHTML]="preparedTripUser?.startPoint?.location | locationPipe"></div>
      </div>
    </div>
    <div class="col-md-6">
      <h6 [textContent]="xeLabel.POINT_TO"></h6>
      <div>
        <div [innerHTML]="preparedTripUser.endPoint | pathPointPipe"></div>
        <div [innerHTML]="preparedTripUser.endPoint?.location | locationPipe"></div>
      </div>
    </div>
  </div>
</ng-template>
<!-- ##############################  [schedulePointInfoTemplate] ###################################### -->


<ng-container *ngIf="screen.is(screens.orderSuccessfully)" id="orderSuccessFully">
  <nb-card>
    <nb-card-header>
      <div class="text-center">
        <h3 [innerText]="xeLabel.ORDER_SUCCESSFULLY"></h3>
        <div [innerText]="xeLabel.BELOW_IS_YOUR_ORDER_INFO">:</div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div class="m-auto">
        <div class="row">
          <div class="col-md-4">
            <h6 [textContent]="xeLabel.ORDER_PERSON_INFO"></h6>
            <lbl [icon]="{iconPre: 'user'}" [txt]="xeLabel.fullName" class="d-block p-2">
              : {{preparedTripUser.fullName}} </lbl>
            <lbl [icon]="{iconPre: 'mobile-alt'}" [txt]="xeLabel.phoneNumber" class="d-block p-2">
              : {{preparedTripUser.phoneNumber | phonePipe}} </lbl>
            <div *ngIf="orderValidEmail">
              <lbl [icon]="{iconPre: 'envelope'}" [txt]="xeLabel.email" class="d-block p-2">
                : {{preparedTripUser.email}} </lbl>
            </div>
          </div>
          <div class="col-md-4">
            <ng-container *ngTemplateOutlet="bussInfoTemplate"></ng-container>
          </div>
          <div class="col-md-4">
            <ng-container *ngTemplateOutlet="TripUserPointTemplate"></ng-container>
          </div>
          <div class="col-md-6">
            <ng-container *ngTemplateOutlet="seatInfoTemplate; context: {tripUser: preparedTripUser}"></ng-container>
          </div>
          <div class="col-md-6 order-success-bottom-wrapper">
            <div class="mt-2 text-center order-success-bottom-controls">
              <xe-btn [btnText]="xeLabel.REVIEW_HISTORY" (click)="viewHistory()" icon="history" template="cancel"></xe-btn>
              <xe-btn [btnText]="xeLabel.GO_HOME" (click)="findTrip()" template="ok"></xe-btn>
            </div>
          </div>
        </div>

      </div>
    </nb-card-body>
  </nb-card>
</ng-container>
<!-- ##############################  [orderSuccessfullyTemplate] ###################################### -->

<!-- ADMIN CONTROL ==================================>>>>>>>>>>>>>>>>>>>>>>> -->
<ng-template #TripAdminControlTemplate id="TripUserTable">
  <ng-container *ngIf="mode.hasTripAdmin">
    <xe-table [tableData]="tripUserTable">
      <div tableHeader>
        <div>
          <div class="row">
            <div class="col-md-6">
              <ng-container *ngTemplateOutlet="launchDateTimeTemplate"></ng-container>
            </div>
            <div *ngIf="selectedTripUser?.confirmedBy" class="col-md-6">
              <div [innerText]="xeLabel.confirmed_by" class="d-inline-block"></div>
              :
              <div [innerText]="confirmedByName" class="text-info text-bold"></div>
              <div [innerText]="xeLabel.confirmed_date" class="d-inline-block"></div>
              :
              <div [innerText]="selectedTripUser.confirmedDateTime | xeDateTimePipe"
                   class="text-primary text-bold"></div>
            </div>
          </div>
          <hr/>
        </div>
      </div>
      <ng-container aboveBasicForm>
        <div class="row">
          <div class="col-md-6">
            <ng-container *ngTemplateOutlet="seatInfoTemplate; context: {tripUser: selectedTripUser}"></ng-container>
          </div>
        </div>
      </ng-container>
      <ng-container top-right-buttons>
        <xe-btn (click)="tripUserTable.formData.share.tableComponent.dialogEditEntity()" *ngIf="preparedTripUser"
                hideText
                template="edit"></xe-btn>
      </ng-container>
    </xe-table>
  </ng-container>
</ng-template>


<ng-template #TripScheduledPointTemplate id="TripScheduledPointTemplate">
  <div *ngIf="preparedTripUser" class="row">
    <div class="col-md-6">
      <div>
        <xe-input [mode]="xeInputMode.input"
                  [template]="bussSchedulePointInput"
                  [value]="selectedTripUserStartPoint"
                  name="startPoint"></xe-input>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <xe-input [mode]="xeInputMode.input"
                  [template]="bussSchedulePointInput"
                  [value]="selectedTripUserEndPoint"
                  name="endPoint"></xe-input>
      </div>
    </div>
  </div>


</ng-template>

