<nb-card *ngIf="!screen.is(screens.orderSuccessfully)">
  <nb-card-header>
    <div class="float-left">
      <h3>
        <xe-btn (click)="parentScreen.back()" hideText template="back"></xe-btn>
        <lbl [txt]="bussType?.bussTypeName"></lbl>
      </h3>
    </div>
    <div *ngIf="mode.hasEdit && screen.is(screens.schemeView)" class="float-right">
      <xe-btn (click)="openNewSeatRange()" template="add"></xe-btn>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ng-container *ngTemplateOutlet="schemeViewTemplate"></ng-container>

    <ng-container *ngTemplateOutlet="SchemeFormEditTemplate"></ng-container>

  </nb-card-body>
</nb-card>

<ng-template #schemeViewTemplate>
  <ng-container *ngIf="screen.is(screens.schemeView)">
    <div class="row">
      <ng-container *ngIf="!mode.hasOrdering">
        <ng-container *ngTemplateOutlet="SchemeViewTemplate"></ng-container>
      </ng-container>

      <ng-container *ngIf="mode.hasOrdering">
        <div class="col-md-6">
          <ng-container *ngTemplateOutlet="TripOrderControlTemplate"></ng-container>
        </div>
        <div class="col-md-6">
          <ng-container *ngTemplateOutlet="SchemeViewTemplate"></ng-container>
        </div>
      </ng-container>

    </div>
  </ng-container>
</ng-template>

<!-- ##############################  [SCHEME VIEW] ###################################### -->
<ng-template #SchemeViewTemplate>
  <div>
    <div *ngFor="let seatGroup of bussType.seatGroups; first as isFirstGroup; last as isLastGroup; index as groupIdx">
      <div class="pt-3">
        <h6>
          <lbl [key]="seatGroup.seatGroupName"></lbl>
          <lbl [key]="seatGroup.seatGroupDesc" class="text-secondary badge"></lbl>
          <xe-btn (click)="openEditSeatGroup(seatGroup)" *ngIf="mode.hasEdit" hideText icon="pen"
                  template="blank"></xe-btn>
        </h6>

      </div>
      <div>
        <ng-container *ngIf="mode.hasEdit">
          <xe-btn (click)="bringUp(seatGroup, groupIdx)" *ngIf="!isFirstGroup" icon="caret-up"
                  template="blank"></xe-btn>
          <xe-btn (click)="bringDown(seatGroup, groupIdx)" *ngIf="!isLastGroup" icon="caret-down"
                  template="blank"></xe-btn>
        </ng-container>
        <ng-container *ngFor="let seatNo of seatGroup.seats">
          <div *ngIf="!mode.hasOrdering" class="seat alert alert-info border-info">
            {{seatNo}}
          </div>
          <ng-container *ngIf="mode.hasOrdering">
            <ng-container *ngTemplateOutlet="SeatSchemeTemplate; context: {seatNo: seatNo}"></ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>

<!-- ##############################  [SCHEME EDIT] ###################################### -->
<ng-template #SchemeFormEditTemplate>
  <xe-basic-form *ngIf="screen.is(screens.schemeEdit)"
                 [formData]="seatGroupTable.formData" [readMode]="false">
    <ng-container leftAboveMessageLabel>
      <lbl key="seat_from">: {{getCurrentSeatFrom()}}</lbl>
      <lbl key="seat_to">: {{getCurrentSeatTo()}}</lbl>
    </ng-container>
  </xe-basic-form>
</ng-template>


<!-- ##############################  [ORDERING CONTROL] ###################################### -->
<ng-template #SeatSchemeTemplate let-seatNo="seatNo">
  <div (click)="toggleSeatOrder(seatNo)"
       class="seat alert {{seatStatus(seatNo).classes}}">
    {{seatNo}}
  </div>
</ng-template>
<!-- ##############################  [SeatSchemeTemplate] ###################################### -->

<ng-template #TripOrderControlTemplate>
  <ng-container *ngIf="mode.hasOrdering">
    <div class="row">
      <div class="col-md-6">
        <ng-container *ngTemplateOutlet="bussInfoTemplate"></ng-container>
      </div>
      <div class="col-md-6">
        <ng-container *ngTemplateOutlet="schedulePointInfoTemplate"></ng-container>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <xe-basic-form [formData]="tripUserForm"></xe-basic-form>
      </div>
      <div class="col-md-6">
        <ng-container *ngTemplateOutlet="seatInfoTemplate"></ng-container>
      </div>
    </div>
    <div *ngIf="errorMessage" class="text-right text-danger text-large">
      <div [innerHTML]="errorMessage"></div>
    </div>
    <hr>
    <div class="cart-order-bottom-control">
      <div class="float-left">
        <xe-btn (click)="parentScreen.back()" template="back"></xe-btn>
      </div>
      <div class="float-right">
        <xe-btn (click)="clearOrderInfo()" [disabled]="tripUser.totalPrice <= 0" template="eraser"></xe-btn>
        <xe-btn (click)="order()" template="orderTrip"></xe-btn>
      </div>
    </div>
  </ng-container>
</ng-template>

<!-- ##############################  [TripOrderControlTemplate] ###################################### -->

<ng-template #bussInfoTemplate>
  <lbl [icon]="{iconPre: 'building'}" [txt]="xeLabel.companyName" class="d-block p-2">
    : {{bussSchedule.buss.company.companyName}} - {{bussSchedule.buss.company.companyDesc}} </lbl>
  <lbl [icon]="{iconPre: 'pencil-ruler'}" [txt]="xeLabel.BUSS_TYPE" class="d-block p-2">
    : {{bussSchedule.buss.bussType?.bussTypeName}}</lbl>
  <lbl [icon]="{iconPre: 'bus'}" [txt]="xeLabel.bussLicense" class="d-block p-2">
    : {{bussSchedule.buss.bussLicense}}</lbl>
</ng-template>
<!-- ##############################  [bussInfoTemplate] ###################################### -->

<ng-template #seatInfoTemplate>
  <h5 [innerHTML]="xeLabel.cart_seat_info"></h5>
  <div class="cart-seat-info">
    <lbl [icon]="{iconPre: 'money-check'}" [txt]="xeLabel.SEAT_UNIT_PRICE" class="d-block p-2">
      : {{tripUser.unitPrice | moneyPipe}}</lbl>
    <lbl [icon]="{iconPre: 'calendar'}" [txt]="xeLabel.LAUNCH_DATE" class="d-block p-2">
      : {{trip.launchDate | xeDatePipe}}</lbl>
    <icon-wrap clazz="pb-1" iconAfter="clock">{{xeLabel.launchTime}} {{trip.launchTime | xeTimePipe}}</icon-wrap>
    <icon-wrap clazz="pb-1" iconAfter="couch"> {{tripUser.totalSeats || 0}}</icon-wrap>
    <hr>
    <div *ngIf="screen.is(screens.orderSuccessfully)">
      <div [innerText]="xeLabel.SELECTED_SEATS" class="mb-2"></div>
      <div [innerHTML]="tripUser.seatsString | seatPipe"></div>
    </div>
    <div *ngIf="tripUser.totalPrice <= 0" class="text-right">
      {{xeLabel.PLEASE_SELECT_SEATS}}
      <nb-icon icon="hand-point-right" pack="fa"></nb-icon>
    </div>
    <div class="text-center">{{xeLabel.totalPayment}}:
      <h4
        class="d-inline-block text-danger text-right pt-2">{{tripUser.totalPrice | moneyPipe : {html: true} : 'zero'}}</h4>
    </div>
  </div>
</ng-template>
<!-- ##############################  [seatInfoTemplate] ###################################### -->

<ng-template #schedulePointInfoTemplate>
  <div class="row">
    <div class="col-md-6">
      <h6 [textContent]="xeLabel.POINT_FROM"></h6>
      <div>
        <div [innerHTML]="tripUser.startPoint | pathPointPipe"></div>
        <div [innerHTML]="tripUser.startPoint.location | locationPipe"></div>
      </div>
    </div>
    <div class="col-md-6">
      <h6 [textContent]="xeLabel.POINT_TO"></h6>
      <div>
        <div [innerHTML]="tripUser.endPoint | pathPointPipe"></div>
        <div [innerHTML]="tripUser.endPoint.location | locationPipe"></div>
      </div>
    </div>
  </div>
</ng-template>
<!-- ##############################  [schedulePointInfoTemplate] ###################################### -->


  <ng-container *ngIf="screen.is(screens.orderSuccessfully)">
    <nb-card>
      <nb-card-header>
        <div class="text-center">
          <h3 [innerText]="xeLabel.ORDER_SUCCESSFULLY"></h3>
          <div [innerText]="xeLabel.BELOW_IS_YOUR_ORDER_INFO">:</div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="m-auto">
          <div class="row">
            <div class="col-md-4">
              <h6 [textContent]="xeLabel.ORDER_PERSON_INFO"></h6>
              <lbl [icon]="{iconPre: 'user'}" [txt]="xeLabel.fullName" class="d-block p-2">
                : {{tripUser.fullName}} </lbl>
              <lbl [icon]="{iconPre: 'mobile-alt'}" [txt]="xeLabel.phoneNumber" class="d-block p-2">
                : {{tripUser.phoneNumber | phonePipe}} </lbl>
              <div *ngIf="orderValidEmail">
                <lbl [icon]="{iconPre: 'envelope'}" [txt]="xeLabel.email" class="d-block p-2">
                  : {{tripUser.email}} </lbl>
              </div>
            </div>
            <div class="col-md-4">
              <ng-container *ngTemplateOutlet="bussInfoTemplate"></ng-container>
            </div>
            <div class="col-md-4">
              <ng-container *ngTemplateOutlet="schedulePointInfoTemplate"></ng-container>
            </div>
            <div class="col-md-6">
              <ng-container *ngTemplateOutlet="seatInfoTemplate"></ng-container>
            </div>
            <div class="col-md-6 order-success-bottom-wrapper">
              <div class="mt-2 text-center order-success-bottom-controls">
                <xe-btn [btnText]="xeLabel.REVIEW_HISTORY" icon="history" template="cancel"></xe-btn>
                <xe-btn [btnText]="xeLabel.GO_HOME" template="ok"></xe-btn>
              </div>
            </div>
          </div>

        </div>
      </nb-card-body>
    </nb-card>
  </ng-container>
<!-- ##############################  [orderSuccessfullyTemplate] ###################################### -->


