<ng-template #formHeader>
  <div *ngIf="!!formData.header" class="row">
    <div class="col-sm-3 avatar-holder">
      <img *ngIf="formData.header.profileImage"
           [alt]="entityUtil.getFieldValue(formData.share.entity, formData.header.titleField)"
           [src]="entityUtil.getProfileImageUrl(formData.share.entity, formData.header.profileImage)"
           class="d-inline border-info rounded-circle avatar w-100">
      <div>
        <button
          *ngIf="!formData.header.profileImage.readonly"
          [disabled]="!isIdValid" class="btn btn-sm btn-info camera"
          onclick="this.parentNode.getElementsByClassName('hidden-input-camera-file')[0].click()">
          <nb-icon icon="camera" pack="fa"></nb-icon>
        </button>
        <input class="hidden-input-camera-file"
               (change)="onProfileImageChange($event.target['files'][0])" accept="image/*"
               hidden
               type="file">
      </div>
    </div>
    <div class="col-sm-9 avatar-content">
      <div class="avatar-title">
        <h4>{{entityUtil.getFieldValue(formData.share.entity, formData.header.titleField)}}</h4>
        {{entityUtil.getFieldValue(formData.share.entity, formData.header.descField)}}
        <ng-content select="[belowHeaderTitle]"></ng-content>
      </div>
    </div>
  </div>
</ng-template>

<!-- ########################## END OF FORM HEADER #######################-->

<div *ngIf="deleting">
  <nb-card>
    <nb-card-header>
      <ng-container [ngTemplateOutlet]="formHeader"></ng-container>
    </nb-card-header>
    <nb-card-body>
      <h3>
        <lbl key="ARE_YOU_SURE_TO_DELETE_THIS_DATA"></lbl>
        ?
      </h3>
      <p>
        <lbl key="NOTHING_BE_KEEP"></lbl>
        ...
      </p>
    </nb-card-body>
    <nb-card-footer class="text-center">
      <xe-btn (click)="turnBack()" type="back"></xe-btn>
      <xe-btn (click)="dialog.close(); deleteCurrentEntity()" type="ok"></xe-btn>
    </nb-card-footer>
  </nb-card>
</div>

<!-- ########################## END OF DELETE DIALOG #######################-->

<div *ngIf="!deleting">
  <nb-card>
    <nb-card-header>
      <ng-container
        [ngTemplateOutlet]="formHeader"></ng-container>
    </nb-card-header>
    <nb-card-body>
      <ng-content></ng-content>
      <xe-form #submitContent
               [addToSubmit]="entityIds"
               [readonly]="!hasRef"
               name="basicFormInfo">
        <div *ngFor="let field of formData.fields">
          <xe-input *ngIf="isIdValid ? !field.newOnly : true"
                    [(value)]="entityUtil.getFieldOwnerEntity(formData.share.entity, field)[entityUtil.getLastFieldName(field)]"
                    [disabledUpdate]="field.clearOnSuccess"
                    [grid]="formData.grid"
                    [hidden]="field.hidden"
                    [lblKey]="field.lblKey"
                    [name]="field.name"
                    [required]="field.required"
                    [selectOneMenu]="field.selectOneMenu">
          </xe-input>
        </div>
        <lbl #msg class="text-right" p></lbl>
        <div class="float-left">
          <ng-content select="[bottomLeftButtons]"></ng-content>
        </div>
        <div *ngIf="hasRef" class="float-left">
          <xe-btn (click)="submitContent.reset(); deleting = true" *ngIf="!submitContent.readonly && isIdValid"
                  hideText type="delete"></xe-btn>
          <xe-btn (click)="newEntity(); submitContent.unMute()" *ngIf="submitContent.readonly" hideText
                  type="add"></xe-btn>
        </div>
        <div class="text-right">
          <xe-btn (click)="dialog.close();" *ngIf="hasRef" type="close"></xe-btn>
          <xe-btn (click)="submitContent.unMute()" [hidden]="!submitContent.readonly" type="edit"></xe-btn>
          <span [hidden]="submitContent.readonly">
          <xe-btn (click)="submitContent.reset(); submitContent.mute();" *ngIf="!hasRef" type="cancel"></xe-btn>
          <xe-btn *ngIf="isIdValid" [disabled]="submitContent.isLoading" type="save"></xe-btn>
          <xe-btn *ngIf="!isIdValid" [disabled]="submitContent.isLoading" type="add"></xe-btn>
        </span>
        </div>
      </xe-form>
    </nb-card-body>
  </nb-card>
</div>
