<ng-template #formHeader>
  <div *ngIf="!!formData.header" class="row">
    <div *ngIf="formProfileField" class="col-sm-3 avatar-holder">
      <img *ngIf="entityUtil.getProfileImageUrl(formEntity, formMeta, formProfileField)"
           [alt]="entityUtil.valueAsInlineString(formEntity, formMeta, formData.header.titleField)"
           [src]="entityUtil.getProfileImageUrl(formEntity, formMeta, formProfileField)"
           class="d-inline border-info rounded-circle avatar w-100">
      <div>
        <button
          *ngIf="!formData.header?.profileImage?.readonly"
          [disabled]="!isIdValid" class="btn btn-sm btn-info camera"
          onclick="this.parentNode?.getElementsByClassName('hidden-input-camera-file')[0].click()">
          <nb-icon icon="camera" pack="fa"></nb-icon>
        </button>
        <input (change)="onProfileImageChange($event.target['files'][0])"
               accept="image/*" class="hidden-input-camera-file"
               hidden
               type="file">
      </div>
    </div>
    <div class="col-sm-9 avatar-content">
      <div class="avatar-title">
        <h4>{{entityUtil.valueAsInlineString(formEntity, formMeta, formData.header.titleField)}}</h4>
        {{entityUtil.valueAsInlineString(formEntity, formMeta, formData.header.descField)}}
        <ng-container *ngIf="formData.header.subFields">
          <ng-container *ngFor="let field of formData.header.subFields">
            - {{entityUtil.valueAsInlineString(formEntity, formMeta, field)}}
          </ng-container>
        </ng-container>
        <ng-content select="[belowHeaderTitle]"></ng-content>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #formTemplate>
  <xe-form #form
           [addToSubmit]="idsIncludeOnSubmit"
           [muteOnSuccess]="formData.control?.muteOnSuccess"
           [readMode]="readMode"
           [uncheckChanged]="formData.mode?.uncheckChanged"
           name="basicFormInfo">
    <div class="row">
      <ng-container *ngFor="let field of filteredField()">
        <div *ngIf="!isHideBody"
             class="col-md-{{colSpan(field)}} pl-4 pr-4 {{formData.display?.columnNumber > 1 ? 'pt-2 pb-2' : ''}}">
          <xe-input *ngIf="isIdValid ? !field?.newOnly : true"
                    [(value)]="entityUtil.getLastFieldOwner(formData.share?.entity, formData.entityIdentifier.clazz.meta, field)[entityUtil.getLastFieldName(field)]"
                    [disabledUpdate]="field.clearOnSuccess"
                    [entityField]="field"
                    [grid]="formData.display?.grid"
                    [hidden]="field.hidden"
                    [labelMode]="formData.display.labelMode"
                    [lblKey]="field.lblKey"
                    [mode]="field.mode"
                    [name]="field.name"
                    [required]="field.required"
                    [template]="field.template">
          </xe-input>
        </div>
      </ng-container>
    </div>
    <ng-content select="[leftAboveMessageLabel]"></ng-content>
    <ng-container *ngIf="!formData.display.noButton">
      <lbl #msg class="text-right" p></lbl>
      <ng-container *ngTemplateOutlet="formButtonControls; context:{form: form}"></ng-container>
    </ng-container>
  </xe-form>
</ng-template>

<ng-template #formButtonControls let-form="form">
  <div class="float-left">
    <ng-content select="[bottomLeftButtons]"></ng-content>
  </div>
  <div class="float-left">

    <xe-btn (click)="resetHideBody(); asXeForm(form).reset(); screen.go(screens.deleteEntity)"
            *ngIf="(editMode && formData.control?.allowDelete) && isIdValid"
            hideText template="delete"></xe-btn>

    <xe-btn (click)="newEntity(); asXeForm(form).unMute()"
            *ngIf="readMode && formData.control?.allowAdd"
            hideText
            template="add"></xe-btn>
  </div>
  <div class="text-right" *ngIf="!formData.mode?.readonly">
    <ng-content select="[bottomRightButtons]"></ng-content>

    <xe-btn (click)="onCancel()"
            *ngIf="hasDialog || formData.display.cancelBtn === 'close'"
            template="close"></xe-btn>

    <xe-btn (click)="onEdit()"
            *ngIf="readMode"
            template="edit"></xe-btn>

    <ng-container *ngIf="editMode">
      <xe-btn (click)="onCancel()"
              *ngIf="!hasDialog && formData.display.cancelBtn !== 'close'"
              template="cancel"></xe-btn>

      <xe-btn *ngIf="isCreate"
              [disabled]="asXeForm(form).isLoading"
              template="add"></xe-btn>

      <xe-btn *ngIf="isUpdate"
              [disabled]="asXeForm(form).isLoading"
              template="save"></xe-btn>

    </ng-container>
  </div>
</ng-template>

<!-- ########################## END OF FORM HEADER #######################-->

<div *ngIf="screen.current === screens.deleteEntity">
  <nb-card>
    <nb-card-header>
      <ng-container [ngTemplateOutlet]="formHeader"></ng-container>
    </nb-card-header>
    <nb-card-body class="text-center">
      <h3>
        <lbl key="ARE_YOU_SURE_TO_DELETE_THIS_DATA"></lbl>
        ?
      </h3>
      <p>
        <lbl key="NOTHING_BE_KEEP"></lbl>
        ...
      </p>
    </nb-card-body>
    <nb-card-footer class="text-center">
      <xe-btn (click)="turnBack()" template="back"></xe-btn>
      <xe-btn (click)="dialog?.close(); deleteCurrentEntity()" template="ok"></xe-btn>
    </nb-card-footer>
  </nb-card>
</div>

<!-- ########################## END OF DELETE DIALOG #######################-->

<ng-container *ngIf="screen.current === screens.form">
  <nb-card *ngIf="!formData.display?.bare">
    <nb-card-header class="{{hideHeader ? 'd-none' : ''}}">
      <ng-content select="[headerTopMost]"></ng-content>
      <ng-container
        [ngTemplateOutlet]="formHeader"></ng-container>
    </nb-card-header>
    <nb-card-body>
      <ng-content select="[bodyTopMost]"></ng-content>
      <ng-container *ngTemplateOutlet="formTemplate"></ng-container>
    </nb-card-body>
  </nb-card>

  <ng-container *ngIf="formData.display?.bare"
                [ngTemplateOutlet]="formTemplate"
  ></ng-container>

</ng-container>
