<ng-container *ngIf="screen.is(screens.trips)">
  <xe-table [tableData]="tripTable"></xe-table>
</ng-container>

<ng-container *ngIf="screen.is(screens.tripUsers)">
  <xe-table [tableData]="tripUserTable"></xe-table>
</ng-container>


<ng-container *ngIf="screen.is(screens.tripDetails)">
  <basic-buss-scheme [screen]="screen"
                     [bussSchedule]="selectedTrip.bussSchedule"
                     [trip]="selectedTrip"
                     [mode]="bussSchemeMode.tripAdmin"
                     [bussType]="bussType">
  </basic-buss-scheme>
</ng-container>

