@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700,800&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/globals';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

@import './material/angular-material';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';
@import './material/material-overrides';

// install the framework and custom global styles
@include nb-install() {

  @include angular-material();

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
  @include material-overrides();
};

nb-toastr-container {
  white-space: pre-line;
}

.thumbnail-small {
  max-width: 40px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

nb-select.size-medium button {
  padding-left: 38px !important;
}

.d-grid {
  display: grid;
}

.mat-datepicker-content {
  background: white;
  border: 1px solid #8f9bb3;
}
.cursor-pointer {
  cursor: pointer;
}

.text-x-large {
  font-size: x-large;
}

.text-large {
  font-size: large;
}


.icon-wrapper {
  border-radius: 5px;
  border: 1px solid gray;
  width: fit-content;
  padding: 5px 12px 0 7px;
  cursor: pointer;
  color: #585858;
}

.icon-wrapper.active {
  color: #007bff;
}

.icon-wrapper:hover, .icon-wrapper:hover nb-icon {
  color: #007bff !important;
  opacity: 1;
  background: lightyellow;
}

.icon-wrapper .icon-text {
  font-size: 1.2rem;
}
.text-bold {
  font-weight: bold;
}

.quick-show-trip-user .nb-overlay-bottom {
  max-width: 100% !important;
}

.trip-user-inform-wrapper {
  background: black;
  color: white;
}
