<span class="{{_types[type]['css']}} {{msgClass}} {{isParagraph ? 'd-block pb-3' : ''}}">{{prepend}}
  <nb-icon *ngIf="icon && icon.iconPre" [icon]="icon.iconPre" pack="fa" class="align-middle pr-1 {{_types[type]['css']}} {{msgClass}}"></nb-icon>
  {{icon && icon.iconOnly? '' : textValue}}<br *ngIf="breakLine">
  <ng-content></ng-content>
  <nb-icon *ngIf="icon && icon.iconAfter" [icon]="icon.iconAfter" pack="fa" class="pl-1 {{_types[type]['css']}} {{msgClass}}"></nb-icon>
  <nb-icon *ngIf="icon && icon.iconOnly" [icon]="icon.iconOnly" pack="fa" class="{{_types[type]['css']}} {{msgClass}}"></nb-icon>
</span>
