<nb-layout center>
  <nb-layout-column class="xe-center-panel">
    <nb-card class="xe-center-inner">
      <nb-card-header class="text-center">
        <xe-btn icon="home" template="cancel" btnText="XeKhach" (click)="findTrip()"></xe-btn>

      </nb-card-header>
      <nb-card-body>
        <router-outlet></router-outlet>
        <hr/>
        <div class="d-flex justify-content-between">
          <a [routerLink]="LOGIN" routerLinkActive="d-none">{{label.LOGIN}}</a>
          <a [routerLink]="FORGOT_PASSWORD" routerLinkActive="d-none">{{label.FORGOT_PASSWORD}}?</a>
          <a [routerLink]="REGISTER" routerLinkActive="d-none">{{label.REGISTER}}</a>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>



