<div class="row">
  <div class="{{userFormClass}}">
    <xe-basic-form *ngIf="screen.current === screens.account"
                   hideBody
                   [editBtn]="startEditUser"
                   [cancelBtn]="cancelEdit"
                   [formData]="userForm">
      <ng-container belowHeaderTitle>
        <role-info [roleInfos]="roleInfos" clazz="text-left"></role-info>
      </ng-container>
      <ng-container bodyTopMost>
        <div class="d-grid {{userBodyInfoClass}}">
          <icon-wrap class="m-1" iconPre="id-card">{{user.username}}</icon-wrap>
          <icon-wrap class="m-1" iconPre="mobile-alt">{{user.phoneNumber | phonePipe}}</icon-wrap>
          <icon-wrap class="m-1" iconPre="envelope">{{user.email}}</icon-wrap>
        </div>
      </ng-container>
      <ng-container bottomLeftButtons>
        <xe-btn (click)="screen.go(screens.password)" icon="key"
                lbl="CHANGE_PASSWORD" type="secondary"></xe-btn>
      </ng-container>
    </xe-basic-form>

    <nb-card *ngIf="screen.current === screens.password">
      <nb-card-body>
        <xe-form #password
                 [initCtrl]="initMe"
                 name="updatePassword"
                 onSuccess="reset">
          <xe-input [value]="user.userId" hidden name="userId"></xe-input>
          <xe-input name="currentPassword" required></xe-input>
          <xe-input #newPassword name="newPassword" required></xe-input>
          <xe-input [matching]="newPassword" name="reNewPassword"></xe-input>
          <div class="text-right">
            <lbl #msg p></lbl>
            <xe-btn (click)="password.reset(); screen.goHome()" type="back"></xe-btn>
            <xe-btn [disabled]="password.isLoading" lbl="OK" type="save"></xe-btn>
          </div>
        </xe-form>
      </nb-card-body>
    </nb-card>
  </div>

  <div *ngIf="company" class="{{companyFormClass}}">
    <xe-basic-form [formData]="companyForm"
                   hideBody
                   [editBtn]="startEditCompany"
                   [cancelBtn]="cancelEdit">
      <div headerTopMost>
        <lbl key="company_info">:</lbl>
        <hr/>
      </div>
      <div belowHeaderTitle>
        <icon-wrap iconPre="mobile-alt">{{company.hotLine | phonePipe}}</icon-wrap>
      </div>
      <div bodyTopMost class="{{companyBodyInfoClass}}">
        <div class="text-center">

          <icon-wrap iconPre="bus">{{company.totalBusses}}</icon-wrap>
          <icon-wrap iconPre="users-cog">{{company.totalEmployees}}</icon-wrap>
          <icon-wrap iconPre="suitcase-rolling">{{company.totalTrips}}</icon-wrap>
        </div>
      </div>
    </xe-basic-form>
  </div>


</div>


