<div class="row">
  <xe-basic-form class="col-md-8"
                  [formData]="userForm">
  </xe-basic-form>

  <nb-card class="col-md-4">
    <nb-card-body>
      <xe-form #password name="updatePassword" onSuccess="reset" readonly>
        <xe-input name="userId" [value]="user.userId" hidden></xe-input>
        <lbl class="text-center" #msg p></lbl>
        <xe-btn center lbl="CLICK_TO_CHANGE_PASSWORD" type="edit" [hidden]="!password.isMute"
                (click)="password.unMute()"></xe-btn>
        <div [hidden]="password.isMute">
          <xe-input name="currentPassword" type="password" required></xe-input>
          <xe-input name="newPassword" #newPassword  type="password" required></xe-input>
          <xe-input name="reNewPassword" [matching]="newPassword" type="password"></xe-input>

          <div class="text-right">
            <xe-btn type="cancel" (click)="password.reset()"></xe-btn>
            <xe-btn lbl="OK" type="save" [disabled]="password.isLoading"></xe-btn>
          </div>
        </div>
      </xe-form>
    </nb-card-body>
  </nb-card>

</div>


