<div *ngIf="screen.current === screens.busses">
  <xe-table [tableData]="bussTable"></xe-table>
</div>
<!-- ########### END OF BUSSES ##############-->

<div *ngIf="screen.current === screens.bussScheme">
  <basic-buss-scheme  [screen]="screen"
                      [readMode]="true"
                      [bussType]="bussTable.formData.share.entity.bussType"></basic-buss-scheme>
</div>
<!-- ########### END OF SCHEME ##############-->


<xe-user-table *ngIf="screen.current === screens.bussEmployees"
               [userTable]="bussEmployeeTable">
</xe-user-table>

<!-- ########### END OF BUSS EMPLOYEES ##############-->

<xe-user-table *ngIf="screen.current === screens.employeeSelection"
          [userTable]="employeeTable">
</xe-user-table>
<!-- ########### END OF EMPLOYEES SELECTION ##############-->
