<xe-form name="start" #start>
  <xe-input type="email" #email required></xe-input>
  <xe-btn [disabled]="start.isLoading" lbl="REQUIRE_CHANGE_PASSWORD" center></xe-btn>
</xe-form>

<xe-form name="secret" #secret hide>
  <lbl key="SECRET_KEY_HAS_SENT_TO_YOUR_EMAIL" br></lbl>
  <lbl key="INPUT_THAT_CODE_HERE_TO_NEXT_STEP" p></lbl>
  <xe-input name="secretKey" #secretKey required></xe-input>
  <xe-input name="email" [value]="email.value" hidden></xe-input>
  <xe-btn [disabled]="secret.isLoading" lbl="NEXT" center></xe-btn>
</xe-form>

<xe-form name="newPassword" #newPassword hide>
  <xe-input name="newPassword" type="password" required></xe-input>
  <xe-input name="reNewPassword" type="password" required></xe-input>
  <xe-input name="secretKey" [value]="secretKey.value" hidden></xe-input>
  <xe-input name="email" [value]="email.value" hidden></xe-input>
  <xe-btn [disabled]="newPassword.isLoading" lbl="CHANGE_PASSWORD" center></xe-btn>
</xe-form>

<xe-form name="success" hide>
  <lbl key="PASSWORD_CHANGED_SUCCESSFULLY" p></lbl>
  <xe-btn (click)="gotoLogin()" lbl="CLICK_TO_LOGIN" center></xe-btn>
</xe-form>
