<xe-form name="start" #start>
  <xe-input type="email" #email required></xe-input>
  <xe-center-btn [disabled]="start.isLoading" lblKey="REQUIRE_CHANGE_PASSWORD"></xe-center-btn>
</xe-form>

<xe-form name="secret" #secret hide>
  <lbl key="SECRET_KEY_HAS_SENT_TO_YOUR_EMAIL" br></lbl>
  <lbl key="INPUT_THAT_CODE_HERE_TO_NEXT_STEP" p></lbl>
  <xe-input name="secretKey" #secretKey required></xe-input>
  <xe-input name="email" [value]="email.value" hidden></xe-input>
  <xe-center-btn [disabled]="secret.isLoading" lblKey="NEXT"></xe-center-btn>
</xe-form>

<xe-form name="newPassword" #newPassword hide>
  <xe-input name="newPassword" type="password" required></xe-input>
  <xe-input name="reNewPassword" type="password" required></xe-input>
  <xe-input name="secretKey" [value]="secretKey.value" hidden></xe-input>
  <xe-input name="email" [value]="email.value" hidden></xe-input>
  <xe-center-btn [disabled]="newPassword.isLoading" lblKey="CHANGE_PASSWORD"></xe-center-btn>
</xe-form>

<xe-form name="success" hide>
  <lbl key="PASSWORD_CHANGED_SUCCESSFULLY" p></lbl>
  <xe-center-btn (click)="gotoLogin()" lblKey="CLICK_TO_LOGIN"></xe-center-btn>
</xe-form>
