<xe-form name="start" #start *ngIf="screen.is(screens.start)">
  <xe-input [(value)]="email" type="email" required></xe-input>
  <xe-btn [disabled]="start.isLoading" [btnText]="xeLabel.REQUIRE_CHANGE_PASSWORD" center></xe-btn>
</xe-form>

<xe-form name="secret" #secret *ngIf="screen.is(screens.secret)">
  <lbl [txt]="xeLabel.SECRET_KEY_HAS_SENT_TO_YOUR_EMAIL" br></lbl>
  <lbl [txt]="xeLabel.INPUT_THAT_CODE_HERE_TO_NEXT_STEP" p></lbl>
  <xe-input name="secretKey" [(value)]="secretKey" required></xe-input>
  <xe-input name="email" [value]="email" hidden></xe-input>
  <xe-btn [disabled]="secret.isLoading" [btnText]="xeLabel.NEXT" center></xe-btn>
</xe-form>

<xe-form name="newPassword" #newPassword *ngIf="screen.is(screens.newPassword)">
  <xe-input name="newPassword" type="password" required></xe-input>
  <xe-input name="reNewPassword" type="password" required></xe-input>
  <xe-input name="secretKey" [value]="secretKey" hidden></xe-input>
  <xe-input name="email" [value]="email" hidden></xe-input>
  <xe-btn [disabled]="newPassword.isLoading" [btnText]="xeLabel.CHANGE_PASSWORD" center></xe-btn>
</xe-form>

<xe-form name="success" *ngIf="screen.is(screens.success)">
  <lbl key="PASSWORD_CHANGED_SUCCESSFULLY" p></lbl>
  <xe-btn (click)="gotoLogin()" [btnText]="xeLabel.CLICK_TO_LOGIN" center></xe-btn>
</xe-form>
