<div class="header-container">
  <div class="logo-container">
    <a
      href="#"
      class="sidebar-toggle"
      matRipple
      [matRippleUnbounded]="true"
      [matRippleCentered]="true"
      (click)="toggleSidebar()"
    >
      <nb-icon [icon]="(materialTheme$ | async) ? 'menu-outline' : 'menu-2-outline'"></nb-icon>
    </a>
    <a class="logo" href="#">XeKhach</a>
  </div>
</div>

<div class="header-container">
  <xe-btn *ngIf="notLogin()" routerLink="/check-in/login" [btnText]="xeLabel.LOGIN"></xe-btn>
  <nb-actions size="small">
    <nb-action
      [hidden]="notLogin()"
      class="user-action"
      *nbIsGranted="['view', 'user']"
      matRipple
      [matRippleUnbounded]="true"
      [matRippleCentered]="true">
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="currentUser()?.fullName"
               [picture]="currentUser()?.profileImageUrl">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
